<div class="container pad-top">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome human !</h1>
            <div>This is the home page of the Petstore assignment. It contains the work to be do and the work who has already been done.</div>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>TODO</h2>
            <em>List of features or tasks to implement</em>
            <hr>
            <div>
                <h4>Features</h4>
                <ul>
                    <li>MANDATORY FIELDS : The user shouldn't be allowed to add a pet without specifying a <b>Pet Name</b> and <b>Pet Status</b></li>
                    <li>EDIT A PET : Allow the user to edit the pet details (save, update, discard).</li>
                    <li>DISPLAY PET PICTURE : Allow the user to see the pet picture rather than displaying the pet URL.</li>
                    <li>PAGINATION : Allow the user to paginate the Pets list rather than loading all of them on page load.</li>
                    <li>SORTING : Allow the user to sort the Pet list by <b>Pet Status</b>, <b>Pet Name</b> and <b>Pet Type</b> </li>
                    <li>EXPORT TO CSV : Give the user the ability to export his Pet list into a CSV file.</li>
                    <li>SHOPPING CART : Create a simple shopping cart to allow the user to add pets to it.</li>
                </ul>
                <h4>Tasks</h4>
                <ul>
                    <li>MEASURE CODE COVERAGE : Add a Maven plugin to display <a href='https://en.wikipedia.org/wiki/Code_coverage'> code coverage</a> information during each build.</li>
                    <li>WRITE MORE UNIT TESTS : Complete the tests suite to increase code coverage of the app.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>IMPLEMENTED</h2>
            <em>List of features already implemented</em>
            <hr>
            <div>
                <ul>
                    <li>FIND A PET : Allow the user to find a pet using the <b>pet ID</b></li>
                    <li>ADD A PET : Allow the user to add a pet</li>
                    <li>SEE ALL PETS : Allow the user see all pets</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>And don't forget to have fun ...</p>
    </footer>
</div> <!-- /container -->
